<div class="list-item">
  <a [routerLink]="route">
    <p class="list-item__name">{{item.name}}</p>
    <p *ngIf="item.ingredients else workout" class="list-item__ingredients">
      <span *ngFor="let ingredient of item.ingredients">{{ingredient}}</span>
    </p>
    <ng-template #workout><span class="list-item__workout-detail">{{item | workout}}</span></ng-template>
  </a>
  <div *ngIf="toggled" class="list-item__delete">
    <p>Delete item?</p>
    <button (click)="removeItem()" class="confirm" type="button">Yes</button>
    <button (click)="toggle()" class="cancel" type="button">No</button>
  </div>
  <button (click)="toggle()" *ngIf="!toggled" class="trash" type="button">
    <img src="/assets/img/remove.svg">
  </button>
</div>
