<div class="workout-form">

  <form [formGroup]="form">
    <div class="workout-form__name">
      <label>
        <h3>Workout name</h3>
        <input
          formControlName="name"
          [placeholder]="placeholder"
          type="text">
        <div *ngIf="required" class="error">
          Workout name is required
        </div>
      </label>
      <label>
        <h3>Type</h3>
        <workout-type formControlName="type"></workout-type>
      </label>
    </div>

    <div class="workout-form__details">
      <div *ngIf="form.get('type').value === 'strength'">
        <div class="workout-form__fields" formGroupName="strength">
          <label>
            <h3>Reps</h3>
            <input formControlName="reps" type="number">
          </label>
          <label>
            <h3>Sets</h3>
            <input formControlName="sets" type="number">
          </label>
          <label>
            <h3>Weight <span>(kg)</span></h3>
            <input formControlName="weight" type="number">
          </label>
        </div>
      </div>
      <div *ngIf="form.get('type').value === 'endurance'">
        <div class="workout-form__fields" formGroupName="endurance">
          <label>
            <h3>Distance <span>(km)</span></h3>
            <input formControlName="distance" type="number">
          </label>
          <label>
            <h3>Duration <span>(minutes)</span></h3>
            <input formControlName="duration" type="number">
          </label>
        </div>
      </div>
    </div>
    <div class="workout-form__submit">
      <div>
        <button (click)="createWorkout()"
                *ngIf="!exists"
                class="button"
                type="button">
          Create workout
        </button>
        <button (click)="updateWorkout()"
                *ngIf="exists"
                class="button"
                type="button">
          Save
        </button>
        <a
          [routerLink]="['../']"
          class="button button--cancel">
          Cancel
        </a>
      </div>
      <div *ngIf="exists" class="workout-form__delete">
        <div *ngIf="toggled">
          <p>Delete item?</p>
          <button (click)="removeWorkout()" class="confirm" type="button">Yes</button>
          <button (click)="toggle()" class="cancel" type="button">No</button>
        </div>
        <button (click)="toggle()" *ngIf="!toggled" class="button button--delete" type="button">
          Delete
        </button>
      </div>
    </div>
  </form>
</div>
